@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
* {
  scroll-behavior: smooth;
}
.NavBarbg{
  background: linear-gradient(206.78deg, #151712  7.69%  , rgba(181, 181, 181, 0.35) 49.75%);
box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.25);
border-radius: 10px;  

}
.traveltitle{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;

/* or 58px */

letter-spacing: 0.02em;

color: #F4EAEA;
}
.learnmorebtn{
  background: none;
  border: 1px solid;
  transition: .3s background, .3s color, .3s border;
}
.learnmorebtn:hover {
  background: #fff;
  color: #000;
}
.travelp{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
line-height: 32px;
/* or 200% */


color: #FBEAEA;
}
.header1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
line-height: 180%;
/* identical to box height, or 36px */

letter-spacing: 0.02em;

}

.whiteheader{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
/* or 102px */

text-align: center;

color: #FEF9F9;
}
.redtitle{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;

/* identical to box height */


color: #BB2D2D;
}
.input{
  border: 1px solid #FFFFFF;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 171% */
background-color: #BCBCBD;
letter-spacing: 0.01em;

/* Gray 3 */

color: #828282;

}
.paragraph3{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.01em;

color: #000000;
}
.blacktitle{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 170%;
  /* or 136px */
  
  
  color: #424147;
  
}
.whitetitle{
  font-style: normal;
font-weight: 800;
line-height: 120%;
/* or 48px */


color: #FFFFFF;
}
.submitBtn{
  background: rgba(152, 31, 43, 0.98);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  
  text-transform: uppercase;
  
  /* white */
  
  color: #FFFFFF;
}
.imgeffect{ 
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);}
.paragraph1{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 155%;


}
.paragraph2{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  
  
  color: #FBEAEA;
}
.darkheader{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 600;

/* identical to box height, or 56px */

letter-spacing: 0.01em;

background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #D53444 0.89%, #CB2A3A 55.12%, rgba(152, 31, 43, 0.98) 71.54%, #771821 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}
.videoTexture{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  /* or 34px */
  
  
  color: #513125;
}
.dateTexture{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 26px;

color: #99232F;
}
.btntext{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
/* or 27px */

text-transform: capitalize;

color: #FBE6DF;
}
.cardBack{
  background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -396.41%, rgba(20, 16, 29, 0.8) 40.64%);  box-shadow: 0px 20px 100px rgba(66, 71, 91, 0.1);
  border-radius: 20px;
}
.glassifedEffectBlur{
  background: rgba(217, 217, 217, 0.25);
  backdrop-filter: blur(4px);
  
  border-radius: 10px;
}
.text-gradient {
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
line-height: 140%;
/* or 98px */

letter-spacing: 0.01em;
  background: radial-gradient(
    64.18% 64.18% at 71.16% 15.69%,
    #FFE8E8 0.09%,
    
    #BB2D2D 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(157.81deg, #AB4C4C -43.27%, rgba(187, 45, 45, 0.79) 90.29%);
border-radius: 10px;
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
